html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;scrollbar-width: none;
    font-size: 100%;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

.tracking-in-contract-bck {
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

a:visited,
a:hover,
a:active,
a {
    color: white;
    text-decoration: none;
}


/* NAVIGATION */

.nav {
    display: flex;
    flex-flow: row nowrap;
    transition: background-color 0.4s;
    background-color: rgba(0, 0, 0, 0);
    /* align-items: center; */
    width: 100%;
    height: 9vh;
    justify-content: space-between;

}


#nav-text-logo {
    font-family: 'Galada', cursive;
    font-size: 1.3rem;
    user-select: none;
    color: white;
    /* text-align: center; */
}

#nav-text-caption {
    font-family: 'Oswald', sans-serif;
    font-size: 0.95rem;
    color: white;
    letter-spacing: 1.14px;
}

.navBackground {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav .logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-tico {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 1.4rem;
}

#navlogo{
    width:55px;
}

.nav .SearchBar {
    width: 40%;
    /* margin-left: -10%; */
    margin: 0 auto;
}

.nav .SearchBar .inner {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    vertical-align: center;
    font-style: normal;
    font-weight: normal;
}


.hamburger-menu{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    color: white;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: auto;
    transition: all 0.4s;
    transform: translate(100%);
    user-select: none;
    z-index: 2;
    font-size: 1rem;
}

.hamburger-menu .item{
    padding: 10px 20px 10px 20px;
    white-space: nowrap;
    cursor: pointer;
}

.hamburger-menu .back{
    width:30px;
    height:30px;
    margin: 5px 5px 5px 20px;
    border-radius: 50%;
    cursor: pointer;
}

.hamburger-menu .slide{
    position: absolute; 
    visibility: hidden;
    transform: translate(150%);
}

.hamburger-menu .active{
    transform: translate(0%);
    transition: transform 0.4s;
    display: block;
    position: relative; 
    visibility: visible;
    
}

.hamburger-menu .item-view{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.nav .hamburger-ico{
    background-color: white;
    /* border-radius: 100%; */
    position: relative;
    display: flex;
    width: 4vw;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

#hamburger{
    width:100%;
    height:100%;
    user-select: none;
    padding: 23%;
   
}


.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow-y: auto;
    border-radius: 4px;
    cursor: default;
    outline: none;
    border: none;
    width: 100%;
    transition: all 2s;
}

.autocomplete-suggestion {
    white-space: nowrap;
    cursor: default;
    font-size: 1em;
    margin: 0 auto;
    padding-left: 30px;
    color: #333333;
}

.autocomplete-selected {
    background: #337ab7;
    color: white;
    cursor: default;
}

.autocomplete-suggestions strong {
    font-weight: normal;
}

.autocomplete-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    margin: 5px auto;
    text-align: left;
    width: 90%;
    cursor: default;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}


/* HOME */

.carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.35s;
}

.carousel-fade .carousel-inner .carousel-item-next,
.carousel-fade .carousel-inner .carousel-item-prev,
.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#home .carousel .inner {
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#home .carousel .inner .wu {
    font-size: 3.5rem;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 50px;
}

#home .carousel .inner .wu div {
    display: inline-block;
}

#home .carousel .inner .wur {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    width: 70%;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

#home .carousel .inner .defaultSlide {
    letter-spacing: 0px;
}

#home .carousel-item {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#home .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#home .homeslide {
    overflow: hidden;
}


/* MENU SECTION */

#menu {
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: white;
}

#menu .cotm {
    font-family: 'Galada', cursive;
    font-size: 2rem;
    text-align: center;
}

#menu .carousel-cell {
    width: 25%;
    /* half-width */
    height: auto;
    margin-right: 10px;
    counter-increment: carousel-cell;
    border-radius: 10px;
}


#menu .product-carousel {
    margin: 0px 0px 50px 0px;
}

#menu .p_category {
    color: #c12929;
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    user-select: none;
}

#menu .subTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 0 auto;
    user-select: none;
}

#menu .subTitle .sub_category {
    background-color: white;
    padding: 0px 10px;
    font-family: 'Galada', cursive;
    font-size: 1.5rem;
    height: auto;
    z-index: 2;
}

#menu .subTitle .line {
    content: '';
    border-bottom: #999 solid 1px;
    width: 50%;
    position: absolute;
    z-index: 1;
}

#menu .carousel-cell {
    width: 20%;
    /* half-width */
    height: auto;
    margin-right: 10px;
    counter-increment: carousel-cell;
    border-radius: 10px;
}

#menu .product {
    border-radius: 10px;
}

#menu .product .prd-img{
    width: 100%;
    height: auto;
    transition: filter 0.2s;
    border-radius: 10px 10px 0 0;
}

/* .prd-imgbrightness{
    filter: brightness(10%);
}

#menu .product .img-description{
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    display: none;
    overflow-y: scroll;
    font-size: 0.9rem;
} */

#menu .product .inner{
    position: relative;
    display: flex;
    align-items: center;
}

#menu .product .inner2{    
    z-index: 4;
    background: linear-gradient(to left, #2F80ED, #56CCF2);
    color: #fff;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: -10%;
    padding: 10px 10px 0px 10px;

}


  #menu .product .inner2:after{
    position: absolute;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(7deg);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease;

  }

  #menu .product .inner2:hover:after{
    transform: skewY(0deg);
  }

  #menu .product .prd-name{
    font-size: 1.2rem;
    font-family: 'Galada', cursive;
  }

  #menu .product .prd-prop{
    font-size: 0.8rem;
    color: rgb(48, 47, 47);
    font-weight: 600;
  }

  #menu .product .prd-price{
    font-weight: bold;
  }

  #menu .product .prd-weight{
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
  }

  #menu .product .prd-weight div{
    display: inline-block;
    padding: 3px 6px 3px 6px;
}
  #menu .product .prd-weight .selected{
    color: #000;
    background-color: white;
    border-radius: 50px;
  }

  #menu .product .addtoCartIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    justify-items: center;
}


#menu .product .addtoCartIcon input{
    display: none;
}



.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s ease-out;
}
.drawn + svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}

svg{
    width:100%;
    height: auto;
}

#menu .product .inner3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* REVIEWS */

#review {
    width: 100%;
    height: auto;
}

#review .review-slider {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* overflow: hidden; */
}

#review .review-slider .slide-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    user-select: none;
}

#review .review-slider::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#review .review-slider .slide-item .inner img {
    max-width: 50%;
    border: white 3px solid;
}

#review .review-slider .slide-item .inner2 {
    font-size: 1.3rem;
    padding: 0px 30px 0px 30px;
}

@media (min-width: 1281px){


}



@media (min-width: 1025px) and (max-width: 1280px) {
    .hamburger-menu{
        font-size: 0.9rem;
    }

    #navlogo{
        width:50px;
    }
    
    #nav-text-logo {
        font-size: 1.2rem;
    }
    
    #nav-text-caption {
        font-size: 0.85rem;
    }

    .nav .SearchBar{
        width: 60%;
        font-size: 0.8rem;
    }
    .nav .hamburger-ico{
        width: 40px;
        height: 40px;
    }

    /* #home .carousel-item {
        
    } */

    #home .carousel .inner .wu {
        font-size: 3.4rem;
    }

    #home .carousel .inner .wur {
        font-size: 1.1rem;
        width: 90%;
    }

    #menu .p_category {
        font-size: 2.9rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.4rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }
    
    #menu .carousel-cell {
        width: 22%;
        margin-right: 8px;
    }

    #menu .product .prd-name{
        font-size: 1.2rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-prop{
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-price{
        font-size: 1rem;        
    }

    #menu .product .prd-weight{
        font-weight: bold;
        font-size: 0.89rem;
        cursor: pointer;
    }

    #review .review-slider {
        width: 100%;
        height: 50vh;
    }

    #review .review-slider .slide-item .inner img {
        max-width: 50%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 1.3rem;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    
    #navlogo{
        width:45px;
    }
    
    #nav-text-logo {
        font-size: 1.1rem;
    }
    
    #nav-text-caption {
        font-size: 0.8rem;
    }

    .nav .SearchBar{
        width: 62%;
        font-size: 0.8rem;
    }
    .nav .hamburger-ico{
        width: 38px;
        height: 38px;
    }
    
    .hamburger-menu{
        font-size: 0.87rem;
    }

    /* #home .carousel-item {
        
    } */

    #home .carousel .inner .wu {
        font-size: 3.2rem;
    }

    #home .carousel .inner .wur {
        font-size: 1.05rem;
        width: 90%;
    }

    #menu .p_category {
        font-size: 2.9rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.4rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }
    
    #menu .carousel-cell {
        width: 25%;
        margin-right: 8px;
    }

    #menu .product .prd-name{
        font-size: 1.2rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-prop{
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-price{
        font-size: 1rem;        
    }

    #menu .product .prd-weight{
        font-weight: bold;
        font-size: 0.89rem;
        cursor: pointer;
    }

    #review .review-slider {
        width: 100%;
        height: 50vh;
    }

    #review .review-slider .slide-item .inner img {
        max-width: 45%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 1.1rem;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    #navlogo{
        width:40px;
    }
    
    #nav-text-logo {
        font-size: 1.1rem;
    }
    
    #nav-text-caption {
        font-size: 0.7rem;
        display: none;
    }

    .nav .SearchBar{
        width: 59%;
        font-size: 0.8rem;
    }

    .nav .hamburger-ico{
        width: 30px;
        height: 30px;
    }
    
    .hamburger-menu{
        font-size: 0.8rem;
    }
    #home .carousel-item {
        height: 55vh;
    }
    #home .carousel .inner .wu {
        font-size: 2.8rem;
    }

    #home .carousel .inner .wur {
        font-size: 0.9rem;
        width: 90%;
        line-height: 1.1rem;
    }

    #menu .p_category {
        font-size: 2.5rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.1rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }
    
    #menu .carousel-cell {
        width: 40%;
        margin-right: 4px;
    }

    #menu .product .prd-prop{
        font-size: 0.7rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-name{
        font-size: 1rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-weight{
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;
    }
    #menu .product .prd-price{
        font-size: 0.9rem;        
    }

    #review .review-slider {
        height: 40vh;
    }

    #review .review-slider .slide-item .inner img {
        max-width: 30%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 0.8rem;
    }
}


@media (min-width: 321px) and (max-width: 480px) {
    #navlogo{
        width:12vw;
    }
    
    #nav-text-logo {
        display: none;
        font-size: 1rem;
    }
    
    #nav-text-caption {
        font-size: 0.7rem;
        display: none;
    }

    .nav .SearchBar{
        width: 70%;
        font-size: 1rem;
    }

    .nav .hamburger-ico{
        width: 11vw;
        height: 11vw;
    }
    
    .hamburger-menu{
        font-size: 1rem;
    }

    #home .carousel-item {
        height: 45vh;
    }
    #home .carousel .inner .wu {
        font-size: 3rem;
    }

    #home .carousel .inner .wur {
        font-size: 0.9rem;
        width: 90%;
        line-height: 1rem;
    }

    #menu .p_category {
        font-size: 3rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.9rem;
    }

    #menu .subTitle .line {
        width: 90%;
    }
    
    #menu .carousel-cell {
        width: 60%;
        margin-right: 4px;
    }

    #menu .product .prd-prop{
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-name{
        font-size: 1.4rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-weight{
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
    }
    #menu .product .prd-price{
        font-size: 1rem;        
    }

    #review .review-slider {
        height: 40vh;
    }

    #review .review-slider .slide-item .inner img {
        max-width: 45%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 0.98rem;
    }
}

@media (max-width: 320px) {
   

}
