html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 100%;
    /* -webkit-transform: translate3d(0,0,0); */
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

a:visited,a:hover,a:active,a{text-decoration: none;}

.title-header {
    color: #c12929;
    font-size: 3rem;
    width: 50%;
    margin: 15px auto;
    user-select: none;
    font-family: 'Galada', cursive;
    text-align: center;
}

/* NAVIGATION */
.fixedtop{position: fixed;z-index: 999999999;width: 100%;}
.nav {
    flex-flow: row nowrap;
    transition: background-color 0.4s;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.navBackground {
    background-color: rgba(0, 0, 0, 0.8);
}

#nav-text-logo {
    font-family: 'Galada', cursive;
    font-size: 1.3rem;
    user-select: none;
    color: white;
    /* text-align: center; */
    white-space: nowrap;
}

#nav-text-caption {
    font-family: 'Oswald', sans-serif;
    font-size: 0.95rem;
    color: white;
    letter-spacing: 1.14px;
    white-space: nowrap;
}

.nav .logo {
    flex-flow: row nowrap;
}

.nav-tico {
    flex-flow: column nowrap;
    line-height: 1.4rem;
}

#navlogo {
    width: 55px;
}

.nav #hamburger {
    user-select: none;
}
.nav .hamburger-ico {
    z-index: 1;
    cursor: pointer;
    border-radius: 0%;
    transition: all 0.3s;
    border-radius: 100%;
    margin-bottom: 2px;
}

.nav .hamburger-ico:hover {
    background-color: white;
}

body .pusher > section.padTop{
    margin: 0;
    width: 100%;
    padding-top: 15px;
}
.flexAllCenter{display: flex;align-items: center;justify-content: center;justify-items: center;}
.flex{display: flex}
.flex.aItemsCenter{align-items: center}
.flex.jContentCenter{justify-content: center}
.flex.jItemsCenter{justify-items: center}

/* HOME */

#home .homeSlide{
    width: 100%;
    height: 100%;
}
#home .homeSlide .bgParallax{
    height: 100%;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

#home .homeSlide .bgImg{
    display: inline-block;
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
}

#home .homeSlide .bgImg img{
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 75vh;
}

#home .homeSlide .contents{
    width: 100%;
    height: 100%;
    z-index: 99;
}

#home .homeSlide .inner {
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    user-select: none;
}

#home .homeSlide .inner .wu {
    font-size: 3.5rem;
    font-family: 'El Messiri', sans-serif;
}

#home .homeSlide .inner .wur {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    width: 70%;
    line-height: 1.5rem;
    letter-spacing: 1px;
}


/* MENU SECTION */

#menu {

}

#menu .carousel-cell {
    width: 25%;
    /* half-width */
    height: auto;
    margin-right: 10px;
    counter-increment: carousel-cell;
    border-radius: 10px;
}

#menu .product-carousel {
    margin: 0px 0px 50px 0px;
    user-select: none;
}


#menu .subTitle {
    flex-flow: column nowrap;
    margin: 0 auto;
    user-select: none;
}

#menu .subTitle .sub_category {
    background-color: white;
    padding: 0px 10px;
    font-family: 'Galada', cursive;
    font-size: 1.5rem;
    height: auto;
    z-index: 2;
}

#menu .subTitle .line {
    content: '';
    border-bottom: #999 solid 1px;
    width: 50%;
    position: absolute;
    z-index: 1;
}

#menu .carousel-cell {
    width: 20%;
    /* half-width */
    height: auto;
    margin-right: 10px;
    counter-increment: carousel-cell;
    border-radius: 10px;
}

#menu .product.splide__slide {
    border-radius: 10px;
    /* transform: translateX(20%); */
}

#menu .product .prd-img {
    width: 100%;
    height: auto;
    transition: filter 0.2s;
    border-radius: 10px 10px 0 0;
}

#menu .product .inner2 {
    z-index: 4;
    background: linear-gradient(to left, #2F80ED, #56CCF2);
    color: #fff;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: -10%;
    padding: 10px 10px 0px 10px;
}

#menu .product .inner2:after {
    position: absolute;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(7deg);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.5s ease;
}

#menu .product .prd-name {
    font-size: 1.2rem;
    font-family: 'Galada', cursive;
}

#menu .product .prd-prop {
    font-size: 0.8rem;
    color: rgb(48, 47, 47);
    font-weight: 600;
}

#menu .product .prd-price {
    font-weight: bold;
}

#menu .product .prd-weight {
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

#menu .product .prd-weight div {
    display: inline-block;
    padding: 3px 6px 3px 6px;
}

#menu .product .prd-weight .selected {
    color: #000;
    background-color: white;
    border-radius: 50px;
}

#menu .product .addtoCartIcon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#menu .product .addtoCartIcon input {
    display: none;
}

.tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s ease-out;
}

.drawn+svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
}

svg {
    width: 100%;
    height: auto;
}

#menu .product .inner3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#menu .splide .product{
    transform: scale(0.9);
    transition: transform 0.1s;
}


#menu .splide .is-active .product{
    transform: scale(1);
}

/* REVIEWS */

#review {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#review .review-slider .slide-item {
    text-align: center;
    color: white;
    user-select: none;
}

#review .review-slider .slide-item .inner img {
    margin: 1rem;
    max-width: 15%;
    border: white 3px solid;
}

#review .review-slider .slide-item .inner2 {
    font-size: 1.3rem;
}

/* CONTACT SECTION */
#contact {

}

#contact .main {
    font-weight: bold;
}




/* FOOTER */

#footer{
    /* margin-top: 5px; */
    background-color: rgba(0, 0, 0,0.92); 
    width: 100%;
    height: auto;
}

#footer .default{
    padding: 5px;
    font-size: 1.2rem;
}
#footer .default:hover{
    transition: all 0.3s;
    background-color: rgb(34, 34, 34);
}



@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {

    .hamburger-menu {
        font-size: 0.9rem;
    }

    #navlogo {
        width: 50px;
    }

    #nav-text-logo {
        font-size: 1.2rem;
    }

    #nav-text-caption {
        font-size: 0.85rem;
    }

    .nav .SearchBar {
        width: 60%;
        font-size: 0.8rem;
    }

    .nav .hamburger-ico {
        /* width: 40px;
        height: 200%; */
    }

    #home .carousel .inner .wu {
        font-size: 3.4rem;
    }

    #home .carousel .inner .wur {
        font-size: 1.1rem;
        width: 90%;
    }

    #menu .p_category {
        font-size: 2.9rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.4rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }

    #menu .carousel-cell {
        width: 22%;
        margin-right: 8px;
    }

    #menu .product .prd-name {
        font-size: 1.2rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-prop {
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-price {
        font-size: 1rem;
    }

    #menu .product .prd-weight {
        font-weight: bold;
        font-size: 0.89rem;
        cursor: pointer;
    }

    #review .review-slider {
        /* width: 100%;
        height: 50vh; */
    }

    #review .review-slider .slide-item .inner img {
        max-width: 50%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    #navlogo {
        width: 45px;
    }

    #nav-text-logo {
        font-size: 1.1rem;
    }

    #nav-text-caption {
        font-size: 0.8rem;
    }

    .nav .SearchBar {
        width: 62%;
        font-size: 0.8rem;
    }

    .nav .hamburger-ico {
        /* width: 38px;
        height: 38px; */
    }

    .hamburger-menu {
        font-size: 0.87rem;
    }

    #home .carousel .inner .wu {
        font-size: 3.2rem;
    }

    #home .carousel .inner .wur {
        font-size: 1.05rem;
        width: 90%;
    }

    #menu .p_category {
        font-size: 2.9rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.4rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }

    #menu .carousel-cell {
        width: 25%;
        margin-right: 8px;
    }

    #menu .product .prd-name {
        font-size: 1.2rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-prop {
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-price {
        font-size: 1rem;
    }

    #menu .product .prd-weight {
        font-weight: bold;
        font-size: 0.89rem;
        cursor: pointer;
    }

    #review .review-slider .slide-item .inner img {
        width: 50%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 1.1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #navlogo {
        width: 40px;
    }

    #nav-text-logo {
        font-size: 1.1rem;
    }

    #nav-text-caption {
        font-size: 0.7rem;
        display: none;
    }

    .nav .SearchBar {
        width: 59%;
        font-size: 0.8rem;
    }

    .nav .hamburger-ico {
        /* width: 30px;
        height: 30px; */
    }

    .hamburger-menu {
        font-size: 0.8rem;
    }

    #home .carousel .inner .wu {
        font-size: 2.8rem;
    }

    #home .carousel .inner .wur {
        font-size: 0.9rem;
        width: 90%;
        line-height: 1.1rem;
    }

    #menu .p_category {
        font-size: 2.5rem;
    }

    #menu .subTitle .sub_category {
        font-size: 1.1rem;
    }

    #menu .subTitle .line {
        width: 75%;
    }

    #menu .carousel-cell {
        width: 40%;
        margin-right: 4px;
    }

    #menu .product .prd-prop {
        font-size: 0.7rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-name {
        font-size: 1rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-weight {
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;
    }

    #menu .product .prd-price {
        font-size: 0.9rem;
    }

    #review .review-slider {
        /* height: 40vh; */
    }

    #review .review-slider .slide-item .inner img {
        max-width: 30%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 0.8rem;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #navlogo {
        width: 12vw;
    }

    #nav-text-logo {
        display: none;
        font-size: 1rem;
    }

    #nav-text-caption {
        font-size: 1rem;
        display: none;
    }

    .nav .SearchBar {
        width: 30%;
        font-size: 1rem;
    }

    .nav .hamburger-ico {
        /* width: 11vw;
        height: 11vw; */
    }

    .hamburger-menu {
        font-size: 1rem;
    }

    #home .carousel .inner .wu {
        font-size: 3rem;
    }

    #home .carousel .inner .wur {
        font-size: 1rem;
        width: 93%;
        line-height: 1rem;
    }

    #menu .p_category {
        font-size: 3rem;
    }

    #menu .subTitle .sub_category {
        font-size: 2rem;
    }

    #menu .subTitle .line {
        width: 90%;
    }

    #menu .carousel-cell {
        width: 60%;
        margin-right: 4px;
    }

    #menu .product .prd-prop {
        font-size: 0.8rem;
        color: rgb(48, 47, 47);
        font-weight: 600;
    }

    #menu .product .prd-name {
        font-size: 1.5rem;
        font-family: 'Galada', cursive;
    }

    #menu .product .prd-weight {
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
    }

    #menu .product .prd-price {
        font-size: 1.2rem;
    }

    #review .review-slider {
        /* height: 40vh; */
    }

    #review .review-slider .slide-item .inner img {
        max-width: 30%;
    }

    #review .review-slider .slide-item .inner2 {
        font-size: 0.98rem;
    }
}

@media (max-width: 320px) {}