html,body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
   display: none;
}

body{
    /* background-image: url('../assets/images/bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
}

*{
    box-sizing: border-box;
    outline: none;
}

a:visited , a:hover, a:active, a{
    color: white;
    text-decoration: none;
}


#nav-text-logo{
    font-family: 'Galada', cursive;
    font-size: 1.3rem;
    user-select: none;
    padding: 0px 20px 0px 40px;
    color: white;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    border-radius: 0px 0px 29px 0px;
}


.nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    transition: background-color 0.4s;
    background-color: rgba(0, 0, 0,0);
}

.navBackground{
    background-color: rgba(0, 0, 0,0.8);
}

.nav .inner{
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0.5em;
}

.nav .inner li{
    display: inline-block;
    text-align: center;
    user-select: none;
    padding: 20px;
    color: white;
    margin:0;
    cursor: pointer;
    transition: color 0.5s;
    font-weight: 500;
}

.nav .inner li:hover{
    background-color: rgba(0, 0, 0,0.2);
    color:#c12929;
}


#nav-line{
    height: .1rem;
    width: none;
    margin: 1px 0px 0px 0px;
    padding: 0;
    background: tomato;
    border: none;
    transition:.2s ease-in-out;
}

#home .carousel .inner{
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
}


#home .carousel .inner .wu{
    font-size: 3.5rem;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 50px;
}


#home .carousel .inner .wu div{
    display: inline-block;
}

#home .carousel .inner .wur{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    width: 70%;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

#home .carousel .inner .defaultSlide{
    letter-spacing: 0px;
}

#home .carousel-item{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#home .carousel-item::before{
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}


#home .homeslide{
    overflow: hidden;
}


/* MENU SECTION */
#menu{
    padding: 50px;
    width: 100%;
    height: auto;
    background-color: white;
}

.cotm{
    font-family: 'Galada', cursive;
    font-size: 2rem;
    text-align: center;
}

#foodcategory{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-left: -60px ;
padding: 20px;
}

#foodcategory ul{
    list-style: none;
}


#foodcategory ul li{
  cursor: pointer;
  user-select: none;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  /* border: 2px solid #ffb03b; */
  border: 2px solid #c12929;
  border-radius: 50px;
  text-align: center;
}
#foodcategory li:hover, #foodcategory li.category-selected {
    color: #fff;
    /* background: #ffb03b; */
    background: #c12929;

}
.category-items{
    columns: 2;

}


.category-items .menu-content {
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .category-items .menu-content::after {
    content: "......................................................................"
   "...................................................................."
   "....................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: -4px;
    z-index: 1;
    color: #dad8d4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .category-items .menu-content a {
    padding-right: 10px;
    position: relative;
    z-index: 3;
    font-weight: 700;
    /* color: #ff9b08; */
    color: #c12929;
    background-color: #fff;

  }
  
  .category-items .menu-content span {
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 600;
    background-color: #fff;
  }
  
  .category-items .menu-ingredients {
    font-style: italic;
    font-size: 14px;
    font-family: "Comic Neue", sans-serif;
    color: #948c81;
  }